<template>
<div>
    <nav class="navbar fixed-top navbar-light" style="background-color: #e3f2fd;">
        <p>Dashboard</p>
        <button id="logout" type="primary" @click.prevent="logoutUser">logout</button>
    </nav>
    <div class="text">
        <h1 class="container">You are logged in</h1>
    </div>
</div>
</template>

<script>
export default {
    methods:{
        //logout user
        logoutUser(){
            axios.get('/api/logout').then(()=>{
                this.$router.push({name:"login"})
            })
        }
    }
}
</script>
<style  scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@900&display=swap');
.navbar{
    display:flex;
    justify-content: space-between;
    margin-bottom:10px;
    text-align: right;
}
.navbar p{
    font-size: 19px;
    font-family: "Montserrat";
}
#logout{
    border: 0;
    background-color: rgba(0,0,0,0);
}
#logout:hover{
    color: cadetblue;
}
.text{
    margin-top:85px;
}
.text h1{
    text-align: center;
}

</style>