<template>
    <div class="container">
        <div class="col-lg-5 mx-auto form">
            <h1>Log in</h1>
            <span v-if="errors.credentials">{{errors.credentials[0]}}</span><br>
            <form>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" v-model="data.email" class="form-control" name="email" placeholder="Enter your email">
                    <span v-if="errors.email">{{errors.email[0]}}</span><br>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" v-model="data.password" name="password" placeholder="Enter your password">
                    <span v-if="errors.password">{{errors.password[0]}}</span><br>
                </div>
                <button type="submit" class="btn btn-primary submit" @click.prevent="loginUser">Submit</button>
            </form>

        </div>
    </div>
</template>

<script>
export default {
      data(){
        return{
            data:{
                email:'',
                password:''
        },
            errors:[]
        }
    }, 
    methods:{
        //login user
        loginUser(){
            axios.post('/api/login', this.data).then(()=>{
                this.$router.push({name:"dashboard"})
            }).catch((error)=>{
                this.errors = error.response.data.errors;
            })
        }
    }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@900&display=swap');
.form {
margin-top:80px;
border: 0 solid #6c757d;
box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.19);
padding: 40px;
border-radius: 4px;
text-align: center;
}
.form h1{
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
}
.form label{
    float: left;
}
.submit{
    margin: auto;
    width:200px;
}

</style>

