<template>
    <div class="contain absolute inset-0 flex-container items-center justify-center">
        <h1 class="text-3xl text-center">404 Error! <br> Page not found.</h1>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
.contain{
    margin-top: 250px;
}

</style>